body {
  font-family: Arial, sans-serif;
}

#comments-container {
  max-width: 600px;
  margin: 0 auto;
}

#comments-list {
  list-style-type: none;
  padding: 0;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.comment .nickname {
  font-weight: bold;
}

#nickname-input, #comment-input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



.comment button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.comment button:hover {
  background-color: #ff1a1a;
}

body {
  font-family: Arial, sans-serif;
}

#open-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#open-popup:hover {
  background-color: #ff8c00ad;
}

.popup {
  display: none; /* 初期は非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.comment .nickname {
  font-weight: bold;
}

#nickname-input, #comment-input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.comment button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.comment button:hover {
  background-color: #ff1a1a;
}


