<footer class="pc-only">
    <div class="top-list_wrap clearfix">
        <nav>
            <h3 style="text-align: center;">
                <br><br>
                <u>愛知総合工科高等学校・<ruby>STEM<rt>ステム</rt></ruby>研究部サイトマップ</u>
            </h3>
            <br>
            <ul>
                <li style="text-align: center;">
                    <a href="/stem_gaiyou">部活動案内</a> |
                    <a href="/stem_hoshin">活動方針・目標</a> |
                    <a href="/stem_school">学校について</a>
                </li>
                <li style="text-align: center;">
                    <a href="/stem_history">STEM-History</a> |
                    <a href="/stem_access">アクセス</a> |
                    <a href="/stem_award">活動実績</a>
                </li>
                <li style="text-align: center;">
                    <a href="/stem_question">よくある質問</a> |
                    <a href="/stem_join">入部希望（進学希望）の方へ</a>
                </li>
                <li style="text-align: center;">
                    <a href="/stem_member">部員の方へ</a> |
                    <a href="/stem_contact">お問い合わせ</a>
                </li>
                <br><br>
                <p style="text-align: center;">
                    本校ホームページは
                    <a href="https://aichi-te.aichi-c.ed.jp/index.html"><u>こちら</u></a>
                    <br>
                </p>
            </ul>
        </nav>
    </div>
</footer>
