<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="view port" connect="width=device-width,initial-scale=1">
	<title>ホーム - 愛知県立愛知総合工科高等学校 STEM研究部</title>
	<link rel="stylesheet" href="/css/stem_style.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/comments.js"></script>
</head>
<body id="wrapper">
	<main>
	<!--PC用のheader-->
	<div id="header-container"></div><!-- ここにヘッダーを挿入 -->

		<div style="text-align: center;">
			<img src="pic/school/STEM-TOP.png" width="750" height="600">
		</div>
			
		<br>

		<div class="korededoudesuka" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; text-align: center; margin: 20px;"> <!-- 外部余白 -->
			<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
				src="https://www.youtube.com/embed/87wwTj70jcw?si=BqBtxAytddLB5WeU"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
		</div>		
		<div class="text-center-text-left-wrap">
			<ul class="text-center-text-left__child">
				<h2 style="text-align: center;"><big><br>活動・イベントスケジュール</big></h2>
				<iframe
					src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&title=STEM%E7%A0%94%E7%A9%B6%E9%83%A8%E4%BA%88%E5%AE%9A%E8%A1%A8&src=YXNrX3N0ZW1jbHViQG1lcnVhZG8udWs&color=%23039BE5"
					style="border-width:0" width="600" height="500" frameborder="0" scrolling="no"></iframe>
		</div>

	<div id="chat-container"></div>
	<div id="footer-container"></div><!-- ここにフッターを挿入 -->
	</main>
</body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const headerContainer = document.getElementById('header-container'); //ヘッダーを挿入するコンテナを取得(document.~(header~)が要素名となるためdiv id = カッコ内の要素名でほかのものでも動作可能)
            const headerTemplateUrl = 'http://localhost:8080/header'; //githubpagesのリンクの形式で書くちゃんとしたリンクにしないとダメ

            fetch(headerTemplateUrl) //URLからヘッダーのテンプレ参照リンク先のヘッダーにはスタイル書かなくても表示側で指定してやれば動く
                .then(response => response.text()) //レスポンスを受けたらテキストに書き出し
                .then(html => { //htmlをヘッダーのコンテナに代入する　
                    headerContainer.innerHTML = html;
                })
                .catch(error => console.error('Header template fetch error:', error)); //一応エラーログを書き出す機能
        });
    </script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
            const footerContainer = document.getElementById('footer-container'); 
            const footerTemplateUrl = 'http://localhost:8080/footer'; 

            fetch(footerTemplateUrl) 
                .then(response => response.text()) 
                .then(html => { 
                    footerContainer.innerHTML = html;
                })
                .catch(error => console.error('Footer template fetch error:', error));
        });
    </script>
    <script>
		document.addEventListener('DOMContentLoaded', function() {
            const chatContainer = document.getElementById('chat-container'); 
            const chatTemplateUrl = 'http://localhost:8080/showchat'; 

            fetch(chatTemplateUrl) 
                .then(response => response.text()) 
                .then(html => { 
                    chatContainer.innerHTML = html;
                })
                .catch(error => console.error('chat template fetch error:', error));
        });
    </script>
</html>
