<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="view port" connect="width=device-width,initial-scale=1.0">
	<title>活動実績 - 愛知県立愛知総合工科高等学校 STEM研究部</title>
	<link rel="stylesheet" href="css/stem_style.css">
</head>

<body id="wrapper">
	<!--PC用のheader-->
	<div id="header-container"></div><!-- ここにヘッダーを挿入 -->



		<div class="text-center-text-left-wrap">
			<ul class="text-center-text-left__child">
				
			<h2 style="text-align: center;"><br><big><u>活動実績</u></big></h2>
			<p style="text-align: center;"><br>それぞれの班がたくさんの実績を残しています。<br>　</p>
			<div style="text-align: center;">
				<p>ロボット班</p>
				<img src="pic/Award/wro2020.jpg" width="450"
					height="600">　　
				<img src="pic/Award/robocup30.jpg" width="450" height="600">
				<br><br>
				<img src="pic/Award/curobo2022.jpg" width="800" height="600">
				<br> <br>ETロボコン班など<br>
				<img src="pic/Award/et2022.jpg" width="450" height="600">　　
				<img src="pic/Award/teikyo2020.png" width="450" height="600">
				<br><br>
				<img src="pic/Award/balloon.jpg" width="450" heighr="600">　　
				<img src="pic/Award/wro2019.jpg" width="400" height="600">

			</div>

		</div>

		<div id="footer-container"></div><!-- ここにフッターを挿入 -->

</boby>

	 <!-- ヘッダー・フッター読み込み用 -->
	 <script>
        document.addEventListener('DOMContentLoaded', function() {
            const headerContainer = document.getElementById('header-container'); //ヘッダーを挿入するコンテナを取得(document.~(header~)が要素名となるためdiv id = カッコ内の要素名でほかのものでも動作可能)
            const headerTemplateUrl = 'https://ask-web.github.io/STEM/header.html'; //githubpagesのリンクの形式で書くちゃんとしたリンクにしないとダメ

            fetch(headerTemplateUrl) //URLからヘッダーのテンプレ参照リンク先のヘッダーにはスタイル書かなくても表示側で指定してやれば動く
                .then(response => response.text()) //レスポンスを受けたらテキストに書き出し
                .then(html => { //htmlをヘッダーのコンテナに代入する
                    headerContainer.innerHTML = html;
                })
                .catch(error => console.error('Header template fetch error:', error)); //一応エラーログを書き出す機能
        });
    </script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
            const footerContainer = document.getElementById('footer-container'); //フッターを挿入するコンテナを取得(document.~(header~)が要素名となるためdiv id = カッコ内の要素名でほかのものでも動作可能)
            const footerTemplateUrl = 'https://ask-web.github.io/STEM/footer.html'; //githubpagesのリンクの形式で書くちゃんとしたリンクにしないとダメ

            fetch(footerTemplateUrl) //URLからフッターのテンプレ参照リンク先のフッターにはスタイル書かなくても表示側で指定してやれば動く
                .then(response => response.text()) //レスポンスを受けたらテキストに書き出しする
                .then(html => { //htmlをヘッダーのコンテナに代入する
                    footerContainer.innerHTML = html;
                })
                .catch(error => console.error('Footer template fetch error:', error)); //一応エラーログを書き出す機能
        });
    </script>

</html>

