<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="view port" connect="width=device-width,initial-scale=1.0">
    <title> 部員の方へ - 愛知県立愛知総合工科高等学校 STEM研究部</title>
	<link rel="stylesheet" href="/css/stem_style.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body id="wrapper">
    <!--PC用のheader-->
    <div id="header-container"></div><!-- ここにヘッダーを挿入 -->

        <div class="text-center-text-left-wrap">
            <ul class="text-center-text-left__child">
            <p><br></p>
            <h2 style="text-align: center;"><big><u>部員の方へ</u></big><br>　</h2>
            <p class="text">
                <small>「<ruby>STEM<rt>ステム</rt></ruby>研究部」の部員の皆さん<br>このページでは「<ruby>STEM<rt>ステム</rt></ruby>研究部」の関連情報をまとめております。
                    <br>各情報の詳細については部長又は副部長、各班リーダー、部活動顧問にお尋ねください。</small>
            </p>

            <p class="text">
                <br><big><u>部活動連絡<ruby>Discord<rt>ディスコード</rt></ruby></u></big><br><small>部活動での部員同士の連絡は基本的に<ruby>Discord<rt>ディスコード</rt></ruby>を通じて行われています。
                    <br>入部時又は部活動所属更新時最初のミーティングにて案内しておりますが、
                    <br><ruby>Discord<rt>ディスコード</rt></ruby>サーバーへ未参加の部員の方は、部長又は副部長までお尋ねください。</small>
            </p>

            <p class="text"><br><big><u><ruby>Microsoft Teams<rt><small>マイクロソフト チームズ</small></rt></ruby>「<ruby>STEM<rt>ステム</rt></ruby>研究部チーム」</u></big>
                <br><small>部活動での先生方からの連絡は多くが<ruby>Teams<rt>チームズ</rt></ruby>を通じて行われています。
                    <br>入部時又は部活動所属更新時最初のミーティングにて案内しておりますが、
                    <br>チームへ未参加の部員の方は、部長又は副部長、部活動顧問にお尋ねください。
                </small><br></p>

            <p class="text">
                <br><big><u>制作物共有ツール「<ruby>GitHub<rt><small>ギットハブ</small></rt></ruby>」</u></big><br>
                <small><ruby>STEM<rt><small>ステム</small></rt></ruby>研究部では、現在の部員に限らず、歴代の部員とも情報を共有できるよう、
                <br>複数のユーザーとファイル共有し、編集を行えるツール「<ruby>GitHub<rt><small>ギットハブ</small></rt></ruby>」を導入しています。
                <br>「<ruby>GitHub<rt><small>ギットハブ</small></rt></ruby>」に完成したWEBサイトやゲームを共有して後から使えるようにしたり、
                <br>製作中のプログラムを他の人と共同で編集を行うなど、様々なことができる便利ツールです。
                <br>入部時又は部活動所属更新時最初のミーティングにて案内しておりますが、
                <br>チームへ未参加の部員の方は、部長又は副部長、部活動顧問にお尋ねください。
            </small>

            </p>

            <p class="text">
                <br><small>※連絡用に各班で<ruby>LINE<rt>ライン</rt></ruby>、
                    <ruby>Discord<rt><small>ディスコード</small></rt></ruby>サーバーが用意されていることがございます。<br>未参加の部員の方は各班リーダー、メンバーにお尋ねください。</small></p><br>

        </div>

        <div id="footer-container"></div><!-- ここにフッターを挿入 -->

        </boby>
         
        <!-- ヘッダー・フッター読み込み用 -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const headerContainer = document.getElementById('header-container'); //ヘッダーを挿入するコンテナを取得(document.~(header~)が要素名となるためdiv id = カッコ内の要素名でほかのものでも動作可能)
            const headerTemplateUrl = 'https://ask-web.github.io/STEM/header.html'; //githubpagesのリンクの形式で書くちゃんとしたリンクにしないとダメ

            fetch(headerTemplateUrl) //URLからヘッダーのテンプレ参照リンク先のヘッダーにはスタイル書かなくても表示側で指定してやれば動く
                .then(response => response.text()) //レスポンスを受けたらテキストに書き出し
                .then(html => { //htmlをヘッダーのコンテナに代入する
                    headerContainer.innerHTML = html;
                })
                .catch(error => console.error('Header template fetch error:', error)); //一応エラーログを書き出す機能
        });
    </script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
            const footerContainer = document.getElementById('footer-container'); //フッターを挿入するコンテナを取得(document.~(header~)が要素名となるためdiv id = カッコ内の要素名でほかのものでも動作可能)
            const footerTemplateUrl = 'https://ask-web.github.io/STEM/footer.html'; //githubpagesのリンクの形式で書くちゃんとしたリンクにしないとダメ

            fetch(footerTemplateUrl) //URLからフッターのテンプレ参照リンク先のフッターにはスタイル書かなくても表示側で指定してやれば動く
                .then(response => response.text()) //レスポンスを受けたらテキストに書き出しする
                .then(html => { //htmlをヘッダーのコンテナに代入する
                    footerContainer.innerHTML = html;
                })
                .catch(error => console.error('Footer template fetch error:', error)); //一応エラーログを書き出す機能
        });
    </script>

</html>